/*css*/

html, body 
	{
		margin:0; 
		padding:0;
		background-color: black;
	}

header 
	{ 
		background-color: white; 
		height:100px; 
	}

#logo
	{
		float:left;
		margin-left:30px;
	}

#menu_horizontal
	{
		float:right;
		margin-right:200px;
		margin-top:45px;
	}

ul#menu_horizontal li 
	{ 
		display : inline;
		padding : 0 0.5em; /* Pour espacer les boutons entre eux */
	}

ul#menu_horizontal 
	{
		list-style-type : none; /* Car sinon les puces se placent n'importe où */
	}

ul#menu_horizontal li a
	{
	 	color: gray;
	}

.enfant
	{
		margin:auto;
		height:424px;
		border-top: 6px solid black;
		border-bottom: 6px solid black;
		background-image:url(img/bébé.jpg);
		background-repeat:no-repeat;
		background-position: center;
	}

#fleche
	{
		right: 15px;
		bottom: 50%;
		width:50px;
	    height:50px;
	    position:absolute;
	}

#floche
	{
		left:15px;
		width:50px;
	    height:50px;
	    position:absolute;
	    transform: rotate(180deg);
	    bottom: 50%;

	}